# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Dataset procesado (se genera ejecutando los notebooks)
data/dataset_combinado.csv
data/dataset_preprocesado.csv
data/cleannews.db

# MLflow
mlflow_runs/

# Modelos (se generan ejecutando los notebooks)
models/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/